{{- if eq .chezmoi.hostname "omarchy" -}}
# Home desktop Omarchy PC

env = GDK_SCALE,1

# Left – Dell 24"
monitor = desc:Dell Inc. DELL P2419HC,1920x1080@60,-1920x0,1

# Center – Philips 32"
monitor = desc:Philips Consumer Electronics Company PHL 325E1,2560x1440@59.95,0x0,1

# Right – Philips 27" rotated (portrait)
monitor = desc:Philips Consumer Electronics Company PHL 275E1,2560x1440@59.95,2560x-580,1,transform,1

{{- else if eq .chezmoi.hostname "omarchy-framework-13" -}}
# Omarchy Framework 13" laptop

{{- $monitors := (output "chezmoi-detect-monitors" | fromJson) -}}

{{- if eq (len $monitors) 100 -}}
# Custom config for 3 external displays + internal (DISABLED!)

env = GDK_SCALE,2

# Internal display
monitor = desc:BOE NE135A1M-NY1,preferred,-1440x1080,2

# Left – Dell 24"
monitor = desc:Dell Inc. DELL P2419HC,1920x1080@60,-1920x0,1

# Center – Philips 32"
monitor = desc:Philips Consumer Electronics Company PHL 325E1,2560x1440@59.95,0x0,1

# Right – Philips 27" rotated (portrait)
monitor = desc:Philips Consumer Electronics Company PHL 275E1,2560x1440@59.95,2560x-580,1,transform,1

{{- end -}}

{{- if eq (len $monitors) 3 -}}
# Custom config for 2 external displays + internal (not connecting left Dell)

env = GDK_SCALE,2

# Internal display
monitor = desc:BOE NE135A1M-NY1,preferred,auto,2

# Center – Philips 32"
monitor = desc:Philips Consumer Electronics Company PHL 325E1,2560x1440@59.95,auto,1

# Right – Philips 27" rotated (portrait)
monitor = desc:Philips Consumer Electronics Company PHL 275E1,2560x1440@59.95,auto,1,transform,1

{{- end -}}

{{- if eq (len $monitors) 1 -}}
# Default config: internal + whatever else (Hyprland auto placement)

env = GDK_SCALE,2
monitor = ,preferred,auto,auto
{{- end -}}

{{- else -}}
# Generic fallback for non-configured machines
env = GDK_SCALE,2
monitor = ,preferred,auto,auto
{{- end -}}

