# carapace completions
export CARAPACE_EXCLUDES='node,npx'
source <(carapace _carapace)
#
# atuin history
[[ -f ~/.bash-preexec.sh ]] && source ~/.bash-preexec.sh
eval "$(atuin init bash --disable-up-arrow)"

{{ if eq .chezmoi.hostname "omarchy" }}
echo "Remember: 'zi' for  cd, 'zellij' for terminal multiplexer - and yazi for file manager!"
{{ end }}
